In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("https://github.com/chris1610/pbpython/blob/master/data/sample-salesv3.xlsx?raw=True")

In [5]:
df.shape

(1500, 7)

In [6]:
df.columns

Index(['account number', 'name', 'sku', 'quantity', 'unit price', 'ext price',
       'date'],
      dtype='object')

In [8]:
df.dtypes

account number      int64
name               object
sku                object
quantity            int64
unit price        float64
ext price         float64
date               object
dtype: object

In [9]:
df["date"] = pd.to_datetime(df['date'])
df.head()

,account number,name,sku,quantity,unit price,ext price,date
0,740150,Barton LLC,B1-20000,39,86.69,3380.91,2014-01-01 07:21:51
1,714466,Trantow-Barrows,S2-77896,-1,63.16,-63.16,2014-01-01 10:00:47
2,218895,Kulas Inc,B1-69924,23,90.70,2086.10,2014-01-01 13:24:58
3,307599,"Kassulke, Ondricka and Metz",S1-65481,41,21.05,863.05,2014-01-01 15:05:22
4,412290,Jerde-Hilpert,S2-34077,6,83.21,499.26,2014-01-01 23:26:55

In [10]:
df.dtypes

account number             int64
name                      object
sku                       object
quantity                   int64
unit price               float64
ext price                float64
date              datetime64[ns]
dtype: object

In [12]:
df.head()

,account number,name,sku,quantity,unit price,ext price,date
0,740150,Barton LLC,B1-20000,39,86.69,3380.91,2014-01-01 07:21:51
1,714466,Trantow-Barrows,S2-77896,-1,63.16,-63.16,2014-01-01 10:00:47
2,218895,Kulas Inc,B1-69924,23,90.70,2086.10,2014-01-01 13:24:58
3,307599,"Kassulke, Ondricka and Metz",S1-65481,41,21.05,863.05,2014-01-01 15:05:22
4,412290,Jerde-Hilpert,S2-34077,6,83.21,499.26,2014-01-01 23:26:55

In [13]:
df.set_index('date')

,account number,name,sku,quantity,unit price,ext price
date,,,,,,
2014-01-01 07:21:51,740150,Barton LLC,B1-20000,39,86.69,3380.91
2014-01-01 10:00:47,714466,Trantow-Barrows,S2-77896,-1,63.16,-63.16
2014-01-01 13:24:58,218895,Kulas Inc,B1-69924,23,90.70,2086.10
2014-01-01 15:05:22,307599,"Kassulke, Ondricka and Metz",S1-65481,41,21.05,863.05
2014-01-01 23:26:55,412290,Jerde-Hilpert,S2-34077,6,83.21,499.26
2014-01-02 10:07:15,714466,Trantow-Barrows,S2-77896,17,87.63,1489.71
2014-01-02 10:57:23,218895,Kulas Inc,B1-65551,2,31.10,62.20
2014-01-03 06:32:11,729833,Koepp Ltd,S1-30248,8,33.25,266.00
2014-01-03 11:29:02,714466,Trantow-Barrows,S1-50961,22,84.09,1849.98
2014-01-03 19:07:37,737550,"Fritsch, Russel and Anderson",S2-82423,14,81.92,1146.88
2014-01-03 19:39:53,146832,Kiehn-Spinka,S2-82423,15,67.74,1016.10
2014-01-04 00:02:36,688981,Keeling LLC,S2-00301,7,20.26,141.82
2014-01-04 06:51:53,786968,"Frami, Hills and Schmidt",S2-23246,6,61.31,367.86
2014-01-04 07:53:01,307599,"Kassulke, Ondricka and Metz",S2-10342,17,12.44,211.48
2014-01-04 08:57:48,737550,"Fritsch, Russel and Anderson",B1-53102,23,71.56,1645.88
2014-01-04 11:34:58,239344,Stokes LLC,S1-06532,34,71.51,2431.34
2014-01-04 19:59:02,672390,Kuhn-Gusikowski,S1-30248,14,72.75,1018.50
2014-01-04 22:14:32,239344,Stokes LLC,B1-50809,14,16.23,227.22
2014-01-05 15:12:16,141962,Herman LLC,S1-82801,10,94.30,943.00
2014-01-05 22:39:21,412290,Jerde-Hilpert,S2-00301,33,31.18,1028.94
2014-01-06 08:20:27,424914,White-Trantow,S2-00301,45,96.95,4362.75
2014-01-06 14:14:00,527099,Sanford and Sons,S1-30248,24,50.29,1206.96
2014-01-06 15:53:49,786968,"Frami, Hills and Schmidt",B1-04202,2,52.41,104.82
2014-01-06 18:27:28,714466,Trantow-Barrows,S1-30248,-1,16.97,-16.97
2014-01-06 23:38:31,786968,"Frami, Hills and Schmidt",S2-83881,34,60.41,2053.94
2014-01-07 00:29:41,729833,Koepp Ltd,S2-78676,5,14.75,73.75
2014-01-08 00:02:11,737550,"Fritsch, Russel and Anderson",B1-53636,42,42.06,1766.52
2014-01-08 10:00:08,672390,Kuhn-Gusikowski,S2-83881,42,63.87,2682.54
2014-01-08 11:50:18,714466,Trantow-Barrows,B1-38851,4,60.04,240.16
2014-01-08 17:46:40,729833,Koepp Ltd,B1-86481,6,81.79,490.74
...,...,...,...,...,...,...
2014-12-23 08:29:30,218895,Kulas Inc,S2-00301,-1,63.08,-63.08
2014-12-23 08:44:32,218895,Kulas Inc,S2-00301,9,40.83,367.47
2014-12-24 07:10:32,786968,"Frami, Hills and Schmidt",S1-30248,48,33.79,1621.92
2014-12-24 07:16:26,740150,Barton LLC,B1-53102,3,54.07,162.21
2014-12-24 09:50:26,729833,Koepp Ltd,B1-86481,43,26.47,1138.21
2014-12-24 18:04:20,239344,Stokes LLC,B1-05914,46,82.07,3775.22
2014-12-24 19:33:58,729833,Koepp Ltd,S1-50961,24,13.00,312.00
2014-12-24 22:54:28,141962,Herman LLC,B1-05914,7,32.00,224.00
2014-12-25 00:04:04,307599,"Kassulke, Ondricka and Metz",S1-50961,9,96.54,868.86
2014-12-25 01:22:00,163416,Purdy-Kunde,S1-30248,42,43.69,1834.98
2014-12-25 03:48:04,146832,Kiehn-Spinka,S1-82801,26,85.59,2225.34
2014-12-25 06:14:53,163416,Purdy-Kunde,S2-77896,9,23.58,212.22
2014-12-26 06:53:40,672390,Kuhn-Gusikowski,S2-83881,11,50.25,552.75
2014-12-26 08:30:34,729833,Koepp Ltd,S1-47412,31,85.90,2662.90
2014-12-26 13:18:51,688981,Keeling LLC,S2-82423,15,56.64,849.60
2014-12-26 18:31:15,737550,"Fritsch, Russel and Anderson",B1-04202,6,58.78,352.68
2014-12-27 07:14:09,424914,White-Trantow,S2-00301,-1,22.99,-22.99
2014-12-28 09:19:21,257198,"Cronin, Oberbrunner and Spencer",S1-50961,5,89.19,445.95
2014-12-28 10:11:13,786968,"Frami, Hills and Schmidt",S1-47412,39,49.46,1928.94
2014-12-28 13:21:03,239344,Stokes LLC,S1-93683,47,25.48,1197.56
2014-12-29 13:32:18,604255,"Halvorson, Crona and Champlin",B1-86481,40,23.23,929.20
2014-12-29 14:23:37,257198,"Cronin, Oberbrunner and Spencer",S2-77896,19,33.18,630.42
2014-12-29 17:43:04,714466,Trantow-Barrows,B1-53102,32,34.71,1110.72
2014-12-30 02:25:21,146832,Kiehn-Spinka,S1-50961,27,95.90,2589.30
2014-12-30 12:38:25,786968,"Frami, Hills and Schmidt",B1-86481,8,74.01,592.08
2014-12-30 13:38:13,737550,"Fritsch, Russel and Anderson",S1-06532,12,55.80,669.60
2014-12-30 21:42:17,786968,"Frami, Hills and Schmidt",S1-06532,37,13.14,486.18
2014-12-30 22:45:19,239344,Stokes LLC,S2-10342,14,38.75,542.50
2014-12-31 10:36:24,642753,Pollich LLC,S2-82423,3,65.97,197.91
2014-12-31 12:48:35,383080,Will LLC,S2-00301,38,46.44,1764.72

In [14]:
df.set_index('date').resample('M')

DatetimeIndexResampler [freq=<MonthEnd>, axis=0, closed=right, label=right, convention=start, base=0]

In [16]:
df.set_index('date').resample('M')["ext price"].mean()

date
2014-01-31    1383.295970
2014-02-28    1353.811296
2014-03-31    1436.066056
2014-04-30    1302.791866
2014-05-31    1253.170833
2014-06-30    1360.072891
2014-07-31    1497.360234
2014-08-31    1314.346923
2014-09-30    1427.484492
2014-10-31    1361.073968
2014-11-30    1052.291404
2014-12-31    1377.035798
Freq: M, Name: ext price, dtype: float64

In [18]:
df.set_index('date').groupby('name')["ext price"].sum()

name
Barton LLC                         109438.50
Cronin, Oberbrunner and Spencer     89734.55
Frami, Hills and Schmidt           103569.59
Fritsch, Russel and Anderson       112214.71
Halvorson, Crona and Champlin       70004.36
Herman LLC                          82865.00
Jerde-Hilpert                      112591.43
Kassulke, Ondricka and Metz         86451.07
Keeling LLC                        100934.30
Kiehn-Spinka                        99608.77
Koepp Ltd                          103660.54
Kuhn-Gusikowski                     91094.28
Kulas Inc                          137351.96
Pollich LLC                         87347.18
Purdy-Kunde                         77898.21
Sanford and Sons                    98822.98
Stokes LLC                          91535.92
Trantow-Barrows                    123381.38
White-Trantow                      135841.99
Will LLC                           104437.60
Name: ext price, dtype: float64

In [19]:
df.groupby(['name', pd.Grouper(key='date', freq='M')])['ext price'].sum()

name                             date
Barton LLC                       2014-01-31     6177.57
                                 2014-02-28    12218.03
                                 2014-03-31     3513.53
                                 2014-04-30    11474.20
                                 2014-05-31    10220.17
                                 2014-06-30    10463.73
                                 2014-07-31     6750.48
                                 2014-08-31    17541.46
                                 2014-09-30    14053.61
                                 2014-10-31     9351.68
                                 2014-11-30     4901.14
                                 2014-12-31     2772.90
Cronin, Oberbrunner and Spencer  2014-01-31     1141.75
                                 2014-02-28    13976.26
                                 2014-03-31    11691.62
                                 2014-04-30     3685.44
                                 2014-05-31     6760.11
                                 2014-06-30     5379.67
                                 2014-07-31     6020.30
                                 2014-08-31     5399.58
                                 2014-09-30    12693.74
                                 2014-10-31     9324.37
                                 2014-11-30     6021.11
                                 2014-12-31     7640.60
Frami, Hills and Schmidt         2014-01-31     5112.34
                                 2014-02-28     4124.53
                                 2014-03-31    10397.44
                                 2014-04-30     5036.18
                                 2014-05-31     4097.87
                                 2014-06-30    13192.19
                                                 ...
Trantow-Barrows                  2014-07-31    11987.34
                                 2014-08-31    17251.65
                                 2014-09-30     6992.48
                                 2014-10-31    10064.27
                                 2014-11-30     6550.10
                                 2014-12-31    10124.23
White-Trantow                    2014-01-31    13703.77
                                 2014-02-28    11783.98
                                 2014-03-31     8583.05
                                 2014-04-30    19009.20
                                 2014-05-31     5877.29
                                 2014-06-30    14791.32
                                 2014-07-31    10242.62
                                 2014-08-31    12287.21
                                 2014-09-30     5315.16
                                 2014-10-31    19896.85
                                 2014-11-30     9544.61
                                 2014-12-31     4806.93
Will LLC                         2014-01-31    20953.87
                                 2014-02-28    13613.06
                                 2014-03-31     9838.93
                                 2014-04-30     6094.94
                                 2014-05-31    11856.95
                                 2014-06-30     2419.52
                                 2014-07-31    11017.54
                                 2014-08-31     1439.82
                                 2014-09-30     4345.99
                                 2014-10-31     7085.33
                                 2014-11-30     3210.44
                                 2014-12-31    12561.21
Name: ext price, Length: 240, dtype: float64

In [20]:
df[["ext price", "quantity", "unit price"]].agg(['sum', 'mean'])

         ext price      quantity    unit price
sum   2.018784e+06  36463.000000  82511.290000
mean  1.345856e+03     24.308667     55.007527

In [24]:
dd = df.agg({'ext price': ['sum'], 
        'quantity': ['sum', ], 
        'unit price': ['mean']})

In [50]:
df.agg({'ext price': ['sum'], 
        'quantity': ['sum', ], 
        'unit price': ['mean']})

       ext price  quantity  unit price
mean         NaN       NaN   55.007527
sum   2018784.32   36463.0         NaN

In [32]:
dd = dd.stack()

In [49]:
dd

mean  unit price    5.500753e+01
sum   ext price     2.018784e+06
      quantity      3.646300e+04
dtype: float64

In [56]:
pd.DataFrame(dd).reset_index().drop(columns='level_0').rename(columns={'level_1': 'columns', 0:'value'}).set_index('columns').T.set_index('unit price')

columns      ext price  quantity
unit price
55.007527   2018784.32   36463.0

In [66]:
get_max = lambda x: x.value_counts(dropna=False).index[0]
get_max_count = lambda x: x.value_counts(dropna=False).iloc[0]

In [70]:
df.agg({'ext price': ['sum', 'mean'], 
        'quantity': ['sum', 'mean'], 
        'unit price': ['mean'], 
        'sku': [get_max_count]})

             ext price      quantity  unit price   sku
<lambda>           NaN           NaN         NaN  73.0
mean      1.345856e+03     24.308667   55.007527   NaN
sum       2.018784e+06  36463.000000         NaN   NaN

In [79]:
df['sku'].value_counts(ascending=True)

S1-65481    34
B1-86481    35
B1-50809    39
S2-00301    39
S2-23246    41
B1-69924    44
S2-11481    44
B1-33087    44
S2-78676    46
B1-65551    47
B1-04202    48
B1-53102    49
B1-05914    49
S2-16558    49
B1-33364    49
S2-83881    51
S2-34077    51
B1-20000    53
S1-06532    53
B1-53636    53
S1-27722    53
S1-50961    55
S1-30248    55
B1-38851    56
S2-82423    56
S1-93683    57
S1-47412    58
S2-10342    59
S1-82801    60
S2-77896    73
Name: sku, dtype: int64

In [80]:
s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000']*1000)

In [82]:
s.head(2)

0    3/11/2000
1    3/12/2000
dtype: object

In [84]:
pd.to_datetime(s,infer_datetime_format=True)

0      2000-03-11
1      2000-03-12
2      2000-03-13
3      2000-03-11
4      2000-03-12
5      2000-03-13
6      2000-03-11
7      2000-03-12
8      2000-03-13
9      2000-03-11
10     2000-03-12
11     2000-03-13
12     2000-03-11
13     2000-03-12
14     2000-03-13
15     2000-03-11
16     2000-03-12
17     2000-03-13
18     2000-03-11
19     2000-03-12
20     2000-03-13
21     2000-03-11
22     2000-03-12
23     2000-03-13
24     2000-03-11
25     2000-03-12
26     2000-03-13
27     2000-03-11
28     2000-03-12
29     2000-03-13
          ...
2970   2000-03-11
2971   2000-03-12
2972   2000-03-13
2973   2000-03-11
2974   2000-03-12
2975   2000-03-13
2976   2000-03-11
2977   2000-03-12
2978   2000-03-13
2979   2000-03-11
2980   2000-03-12
2981   2000-03-13
2982   2000-03-11
2983   2000-03-12
2984   2000-03-13
2985   2000-03-11
2986   2000-03-12
2987   2000-03-13
2988   2000-03-11
2989   2000-03-12
2990   2000-03-13
2991   2000-03-11
2992   2000-03-12
2993   2000-03-13
2994   2000-03-11
2995   2000-03-12
2996   2000-03-13
2997   2000-03-11
2998   2000-03-12
2999   2000-03-13
Length: 3000, dtype: datetime64[ns]