# Example

In [14]:
import pandas as pd

In [19]:
my_dict = {'a': 'My good friend','b': 'My new car', 'c':'my beautiful flower'}

In [30]:
a =[{'a':'a'},{'a':'b'},{'b':'v'},{'c':'b'}]

In [32]:
df =pd.DataFrame(a)

In [38]:
df.head()

     a    b    c
0    a  NaN  NaN
1    b  NaN  NaN
2  NaN    v  NaN
3  NaN  NaN    b

In [41]:
df.rename(columns={'a':'p', 'b':'m'},inplace=True)

In [44]:
df

     p    m    c
0    a  NaN  NaN
1    b  NaN  NaN
2  NaN    v  NaN
3  NaN  NaN    b

In [46]:
df[df['p'] == 'b']

   p    m    c
1  b  NaN  NaN